{% extends 'base.html.twig' %}

{% block title %}Nouvelle Classe{% endblock %}

{% block body %}
    <h1>Nouvelle Classe</h1>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('classe_index') }}">Classe_index</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouvelle_classe</li>
        </ol>
    </nav>

    {{ form_start(form) }}

        <div class="form-group">
            <label>{{ form_label(form.libelle) }} <font color="red" size="4">*</font></label>
            {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.libelle) }}
        </div>
        <div class="form-group">
            <label>{{ form_label(form.annee) }} <font color="red" size="4">*</font></label>
            {{ form_widget(form.annee, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.annee) }}
        </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('classe_index') }}">Retour</a>
            <button class="btn btn-success float-right">{{ button_label|default('Valider') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
