{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>
    <br>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('user_index') }}">Retour</a>
            <button class="btn btn-success float-right">{{ button_label|default('Valider') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
    
    {% endblock %}
